{% extends 'base.html' %} {% block content %}
<div class="text-center mt-5">
  <h1>
    Base project for the
    <a
      class="link-underline link-underline-opacity-0"
      href="https://www.docdroid.net/mI2OWP2/django-the-easy-way-2nd-edition-by-samuli-natri-pdf"
      target="_blank"
    >
      "Django - The Easy Way"
    </a>
    book.
  </h1>
  <div class="card-columns">
    {% for flower in flowers %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'detail' flower.slug %}">{{ flower.title }}</a>
        </h5>
        <p class="card-text">{{flower.description|truncatechars:100}}</p>
        <a href="#" class="card-link text-decoration-none"
          >{{flower.category}}</a
        >
        <a
          href="{% url 'edit' pk=flower.pk %}"
          class="text-decoration-none card-link"
          >Edit</a
        >
        <a
          href="{% url 'delete' pk=flower.pk %}"
          class="text-decoration-none card-link"
          >Delete</a
        >
      </div>
      <hr />
      {% for tag in flower.tags.all %}
      <a href="{% url 'tags' tag.slug %}" class="card-link">{{ tag }}</a>
      {% endfor %}
    </div>

    {% endfor %}
  </div>

  {% endblock %}
</div>
